@import "../../sass/variables.module.scss";

.tableContainer {
  width: 100%;
  margin: 40px 0;
  border-radius: 4px;
  background: $--app-table-bg;
  overflow: hidden;
  // &::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $--app-table-border-color;
  //   border-radius: 10px;
  //   // border: 2px solid transparent;
  // }

  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;  
  //   background-color: $--app-table-body-bg; 
  //   // margin: 10px;
  // }

  .searchAndAdd {
    background: $--app-table-top-bg;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }
  
  table {
    max-height: 300px;
    width: 100%;
    background: $--app-table-body-bg;
    border-collapse: collapse;  
    overflow: auto;

    tr {
      border-bottom: 1px solid $--app-table-border-color;
    }

    th {
      text-align: left;
    }

    th,
    td {
      padding: 16px;
      white-space: nowrap;
    }

    th,
    tr,
    td {
      color: $--app-theme2;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: 0.01071em;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: start;
    
    svg {
      font-size: 20px;
      color: #ff6767;
      cursor: pointer;
      &:nth-child(1) {
        margin-right: 10px;
        color: $--app-theme1;
      }
    }
  }

  .tablePagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0;
    color: $--app-theme2;
    background: $--app-table-top-bg;

    div:nth-child(1),
    div:nth-child(2),
    div:nth-child(3) {
      margin: 0 20px;
    }

    div:nth-child(1) {
      span {
        font-size: 14px;
        cursor: text;
      }

      select {
        padding: 3px 0 3px 0;
        margin-left: 10px;
        border: none;
        outline: none;
        background: transparent;
        color: $--app-theme2;
        cursor: pointer;
        &:focus {
          background: rgba(0, 0, 0, 0.071);
        }

        option {
          background: black;
          width: 100px;
        }
      }
    }
    
    div:nth-child(2) {
      font-size: 14px;

      span {
        margin: 0 3px;
        &:nth-child(2) {
          margin: 0 6px;
        }
      }
    }

    div:nth-child(3) {
      display: flex;
      button {
        font-size: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border: none;
        outline: none;
        background: transparent;
        color: $--app-theme2;
        cursor: pointer;
        transition: background 0.2s ease;
        &:hover {
          background: rgba(192, 192, 192, 0.059);
        }
        &:disabled {
          color: rgb(139, 139, 139);
          cursor: auto;
          &:hover {
            background: transparent;
          }
        }
        &:nth-child(1) {
          margin-right: 15px;
        }
      }
    }
  }
}
