@import "../../sass/variables.module.scss";

.paper {
  margin: 40px 0;
  border-radius: 0 !important;
  background: #2d353c !important;

  .table {
    background: $--app-table-body-bg;

    th,
    tr,
    td {
      background: $--app-header-bg;
      border-color: $--app-table-border-color;
      color: $--app-theme2;
      font-size: 15px;
    }
  }

  .box {
    background: $--app-table-top-bg;
    color: $--app-theme2;
    padding: 20px;

    .autoComplete {
      svg {
        color: $--app-theme2 !important;
      }

      label {
        color: $--app-theme2 !important;
      }

      input {
        color: $--app-theme2 !important;
      }

      fieldset {
        border-color: $--app-theme2;
        color: $--app-theme2 !important;
      }
    }
  }

  .pagination {
    background: $--app-table-top-bg;
    color: $--app-theme2;

    svg {
      color: $--app-theme2;
    }
  }

  .btn {
    background: $--app-table-body-bg;
    color: $--bs-body-color;
    &:hover {
      background: #2d353cb2;
    }
  }
}

.error {
  // text-align: center;
  // margin-top: 22%;
  // font-size: 30px;
}

.loading {
  margin: 22% auto 0 auto;
}
