
// themes
$--app-theme1: #00acac;
$--app-theme2: #FFFFFF;

// SideBar
$--app-sidebar-bg: #2d353c;
$--app-sidebar-profile-bg: rgba(32,37,42,.75);
$--app-sidebar-profile-bg-hover: rgba(32, 37, 42, 0.499);

// Header
$--app-header-height: 50px;