
// themes
$--app-theme1: #00acac;
$--app-theme2: #FFFFFF;

// SideBar
$--app-sidebar-width: 220px;
$--app-sidebar-bg: #2d353c;
$--app-sidebar-profile-bg: rgba(32,37,42,.75);
$--app-sidebar-profile-bg-hover: rgba(32, 37, 42, 0.499);
$--app-sidebar-menu-header-color: rgba(255, 255, 255, 0.45);
$--app-sidebar-component-color-rgb: rgb(255,255,255,.6);
$--app-sidebar-component-active-color: #3b3f44;
$--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

// Header
$--app-header-height: 50px;
$--app-header-mobile-height: 100px;
$--app-header-bg: #262d33;
$--app-header-color: #FFFFFF;
$--app-header-input-bg: #1b1f24;
$--app-header-input-border: #1b1f24;
$--app-header-input-plc-color: rgb(101, 101, 101);
$--app-header-logo-silver-color: rgba(255, 255, 255, 0.638);
$--bs-btn-color: #2d353c;

// body 
$--bs-body-font-family: Open Sans,sans-serif;
$--bs-body-font-size: 0.75rem;
$--bs-body-font-weight: 400;
$--bs-body-line-height: 1.5;
$--bs-body-color: #dee2e6;
$--bs-body-bg: #161a1d;

// colors 
$--bs-gray-600-rgb: rgb(108,117,125);
$--app-component-color-rgb: rgb(255,255,255,.5);
$--app-component-border-color: #495057;
$--bs-primary-rgb: rgb(52,143,226);
$--bs-btn-active-bg: #008181;
$--app-component-dropdown-bg: #495057;
$--bs-dropdown-link-color: rgba($--app-component-color-rgb, 0.85);
$--app-component-dropdown-hover-bg: #6c757d;
$--app-component-bg: #2d353c;
$--bs-btn-color: #343a3f;
$--bs-btn-bg: #ffd900;
$--bs-btn-hover-bg: #bfa300;

// login button 
$--login-btn-color: #FFFFFF;
$--login-btn-bg: #00acac;
$--login-btn-hover-bg: #008181;

// register button
$--register-btn-color: #FFFFFF;
$--register-btn-bg: #348fe2;
$--register-btn-hover-bg: #276baa;

// auth
$--app-component-bg: #2d353c;
$--app-auth-text-paragraph-color: #bcbcbcd9;
$--app-auth-register-text-color: rgb(255,255,255,.65);

// users table
$--app-table-top-bg: rgba(255, 255, 255, .1);
$--app-table-body-bg: #2d353c;
$--app-table-bg: #2d353c;
$--app-table-border-color: #495057;

// fonts 
$--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;