@import "../../sass/variables.module.scss";

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $--app-header-height;
    background: $--app-header-bg;
    color: $--app-header-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;

    .rightPart {

        .searchBlock {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $--app-header-input-bg;
            border: $--app-header-input-border;
            min-width: 220px;
            height: 32px;
            border-radius: 30px;
            overflow: hidden;

            .iconBlock {
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $--bs-btn-color;
                font-size: 18px;
                padding: 0 10px;
                transition: color 0.1s ease;
                cursor: pointer;
                &:hover {
                    color: $--app-theme2;
                }
            }
        }
    }
}