@import "../../sass/variables.module.scss";

.sideBar {
  width: $--app-sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: $--app-sidebar-bg;
  margin-top: $--app-header-height;
  z-index: 900;
  transition: left 0.1s ease;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 10px;
  }
  &.open {
    left: 0;
  }

  .topContainer {
    position: relative;
    background: url(../../images/cover-sidebar1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: $--app-theme2;
    padding: 20px;
    font-size: 16px;
    z-index: -2;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $--app-sidebar-profile-bg;
      z-index: -1;
      transition: all 0.5s ease;
    }
    &:hover {
      &::before {
        background: $--app-sidebar-profile-bg-hover;
      }
    }

    .profileInfo {
      z-index: 2;

      .profilePhoto {
        width: 35px;
        height: 35px;
        background: url(../../images/cover-sidebar1.jpg);
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
  }

  .navigationContainer {
    h3 {
      color: $--app-sidebar-menu-header-color;
      font-family: $--bs-font-monospace;
      padding: 15px 20px 10px 20px;
      line-height: 20px;
      font-size: 11px;
      font-weight: 600;
    }

    .navItem {
      padding: 15px 20px;
      line-height: 20px;
      display: block;
      text-decoration: none;
      color: $--app-sidebar-component-color-rgb;
      font-size: 13.5px;
      display: flex;
      align-items: center;
      &:hover {
        color: $--app-theme2;
      }

      &.active {
        background-color: $--app-theme1;
        background-image: $--bs-gradient;
        color: $--app-theme2;

        svg {
          color: $--app-sidebar-component-active-color;
        }
      }

      svg {
        font-size: 16px;
        margin-right: 7px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sideBar {
    left: -$--app-sidebar-width;
    margin-top: 0;
    z-index: 2000;
  }
}
