@import "../../sass/variables.module.scss";

.title {
    color: $--app-theme2;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 2px;
}

.text {
    color: $--app-auth-register-text-color;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: $--register-btn-bg;
    color: $--register-btn-color;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background: $--register-btn-hover-bg;
    }
}