@import "../../sass/variables.module.scss";

.autocomplete {
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: white;
    border: 1px solid silver;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    z-index: 10;  
    &::placeholder {
      font-size: 15px;
      color: $--app-table-body-bg;
      color: silver;
    }
  }

  .arrow {
    position: absolute;
    top: 26%;
    right: 5%;
    transform: translate(-5%, -26%);
    font-size: 16px;
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    cursor: pointer;
    &.rotate {
      transform: rotate(-180deg);
    }
  }

  .dropDown {
    width: 100%;
    max-height: 240px;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    display: none;
    flex-direction: column;
    overflow: auto;
    border-radius: 0 0 5px 5px; 
    &.open {
      display: block;
    }

    .item {
      padding: 10px;
      font-size: 16px;
      background: $--app-theme2;
      color: black;
      cursor: pointer;
      &:hover {
        background: #c7c7c7;
      }
    }

    .inputSpinner {
      background: $--app-theme2;
      display: flex;
      justify-content: center;
      padding-top: 5px;
    }
  }
}