@import "../../sass/variables.module.scss";

.autocomplete {
  position: relative;
  width: 280px;

  input {
    width: 100%;
    padding: 10px 75px 10px 10px;
    background: transparent;
    color: white;
    border: 1px solid silver;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    z-index: 10;  
    &::placeholder {
      font-size: 15px;
      color: $--app-table-body-bg;
      color: silver;
    }
  }

  .icons {
    width: 60px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .cross {
      font-size: 14px;
      font-weight: bold;
      display: none;
      cursor: pointer;
      &.active {
        display: block;
      }
    }

    .arrow {
      font-size: 16px;
      transform-origin: center;
      transform: rotate(0deg);
      transition: transform 0.2s ease;
      cursor: pointer;
      &.rotate {
        transform: rotate(-180deg);
      }
    }
  }

  .dropDown {
    width: 100%;
    max-height: 240px;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    display: none;
    flex-direction: column;
    overflow: auto;
    border-radius: 0 0 5px 5px; 
    z-index: 1;
    background: $--app-theme2;
    &.open {
      display: block;
    }

    .item {
      padding: 10px;
      font-size: 16px;
      background: $--app-theme2;
      color: black;
      cursor: pointer;
      &:hover {
        background: rgb(232, 232, 232);
      }
    }

    .inputSpinner {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.selectPart,
.infoPart,
.arrowsPart {
  margin: 0 20px;
}

.selectPart {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 14px;
    cursor: default;
  }
}

.infoPart {
  font-size: 14px;

  span {
    margin: 0 3px;

    &:nth-child(2) {
      margin: 0 6px;
    }
  }
}

.arrowsPart {
  display: flex;

  button {
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: $--app-theme2;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: rgba(192, 192, 192, 0.059);
    }

    &:disabled {
      color: rgb(139, 139, 139);
      cursor: auto;

      &:hover {
        background: transparent;
      }
    }

    &:nth-child(1) {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .selectPart,
  .infoPart,
  .arrowsPart {
    margin: 0 10px;
  }

  .autocomplete {
    input {
      padding: 10px 55px 10px 10px;
    }

    .icons {
      width: 50px;
    }
  }
}